<div id="navigation" class="headInfo">
    <h3>HairGasm</h3>
    <nav class="overlay-content">
     <ul>
      <% if(typeof navigations !== 'undefined'){%> 
        <% navigations.forEach(nav => {%>
            <li>
                <a href="<%= nav.href %>"><%= nav.name %></a>
            </li>
        <%}) %> 

    <%} %> 
     
        <!-- <a href="/logics">Daily Logics</a> -->
     </ul>
    </nav>
</div>