<div class="headInfo">
    <h3>HairGasm</h3>
    <nav class="navigation">
     <ul>
      <% if(typeof navigations !== 'undefined'){%> 
        <% navigations.forEach(nav => {%>
            <li class = "<%= (typeof activeNav !== 'undefined' && activeNav == nav.activeName)?'activeNav':''%>">
                <a href="<%= nav.href %>"><%= nav.name %></a>
            </li>
        <%}) %> 

    <%} %> 
     
        <!-- <a href="/logics">Daily Logics</a> -->
     </ul>
    </nav>
</div>