<h2>Number guessing game</h2>
<br>
<h4>Let's have fun</h4>
<br>
<p>select a random number between 1 and 100. I'll tell you if your guess was too high or too low.</p><br>
<p><b>Rule of the game : </b>You have a limit of 10 lives</p>
<br>
<div class="form">
  <label for="guessField">Enter a guess: </label>
  <input type="text" id="guessField" class="guessField">
  <input type="submit" value="Submit guess" class="guessSubmit">
</div>