<div>
    <h2>BOOKINGS</h2>
    <button><a href="/slots">Book Us</a></button>
</div>
<div>
    <% if (typeof activeNav !== 'undefined') {%>   
        "class = activeNav"
        <% } else { %>
         <p>No nav found</p> <% } %>  
</div>
<div class="bookings">
    <% if (typeof bookings != 'undefined') {%>
        <% for(var i = 0; i < users.length; i++) { %>
            <p><%= users[i].name %> | <%= users[i].phone %></p>
            <% for(var j = 0; j < bookings.length; j++) { %>
                <% if(users[i].name == bookings[j].user.name) {%>
                    <p>Booking Date: <%= bookings[j].slot.date.toDateString() %></p>
                    <p>Service: <%= bookings[j].service %> </p>
                <% } %>
            <% } %>
        <% } %>
    <%}%> 
</div>