<header>
    <h1>Welcome to HairGasm</h1>
    <p>...a zone for all hair needs and services</p>
</header>
<article>
    <div class="about">
        <img src="./images/about.jpeg" alt="a woman washing a customer's hair">
        <div class="about-text">
            <h3>About</h3>
            <p>HairGasm is located in Accra precisely Achimota mall. <br>We offer world class services and sell good products. <br>
                Trust us to treat you in the best way. <br>Walk-in and experience great services in a suitable zone.</p></div>
    </div>
   <div class="services">
   <div class="services-text">
    <h3>Our services</h3>
    <ul>
        <li>Braids</li>
        <li>Weavons</li>
        <li>Massage</li>
        <li>Manicure & Pedicure</li>
        <li>Sale of all kinds of hair</li>
    </ul>
   </div>
    <img src="./images/massage.jpeg" alt="picture of a salon">
   </div>
</article>
<section>
    <img src="./images/location.jpeg" alt="clear image of the salon's interior">
</section>
<div class="team">
    <div class="teamText">
        <h3>Meet The Team</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="teamImage"> 
       <div class="profile">
        <img src="./images/prof1.jpeg" alt="">
        <h3>Priscilla Boadu</h3>
        <p>Chief Hairstylist</p>
       </div>
       <div class="profile">
        <img src="./images/prof2.jpeg" alt="">
        <h3>Smith Mensah</h3>
        <p>Chief Barber</p>
       </div>
       <div class="profile">
        <img src="./images/prof3.jpeg" alt="">
        <h3>Joyce Amenuveve</h3>
        <p>Chief Masseuse</p>
       </div>
    </div>
    
</div>