<form action="/change-password" method="post">
    <h3>CHANGE PASSWORD</h3>
    <% if(typeof message !== 'undefined') {%>
        <span><%= message %> </span> 
        <% } %> 
    <input type="hidden" name="force_change" value="<%= (typeof force_change !== 'undefined')?force_change : 0%>">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <div>
        <label for=""> Current Password </label>
        <input type="password" name="current_password" required>
    </div>
    <div>
        <label for="password">New Password</label>
        <input type="password" name = "new_password" required> 
    </div>
    <div>
        <label for="password">Confirm Password</label>
        <input type="password" name = "confirm_password" required> 
    </div>
    <button type="submit">Submit Password</button>
</form>