<form action="" method="post">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <div>
        <input type="checkbox" id="forcePassword" name="force_change_password">
        <label for="forcePassword">Force user to change password.</label>
      </div>
      <div>
        <button type="submit">Submit</button>
      </div>
</form>